@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

body{
    background-color: #f4f4f4;
    font-family: "Poppins", "sans-serif";
    
    
}

header{
    display: flex;
    flex-direction: column;
}

.publicidad{
    color: #e6e7e8;
    text-align: center;
    background-color: #B20B4F;
    padding: .75rem;
    
}

.publicidad a{
    text-decoration: none;
    color: #e6e6e6;
}

.publicidad a:hover{
    color: #CCCCCC;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
}

.menu li>a{
    color: #777777;
    padding-right: 1rem;
}

.menu ul{
    display: flex;
    list-style-type: none;
    margin: 0%;
}

.menu a:hover{
    text-decoration: none;
    color: #434343;
}

.logo{
    font-size: 1.5rem;
}

.alert{
    text-align: center;
    background-color: #B20B4F;
    margin-bottom: 0%;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}

.info{
    text-align: center;
}

.btn{
    padding: 1rem 4rem;
    margin: 1rem auto;
}

.parrafoCursos{
    background-image: url("../img/header.jpg");
    padding: 15.1rem 0;
    font-size: 1.8rem;
    color: #e6e6e6;
}

.imgGoal{
    font-size: 3rem;
    padding: 1rem;
}

.cardCursos{
    text-align: center;
    color: #777777;
}

.goal{
    font-size: 1.5rem;
}

.mainTextGoal{
    text-align: center;
    color: #000000;
    font-size: 2rem;
    margin: 4rem;
}