@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

body{
    background-color: #e6e7e8;
    font-family: "Poppins", "sans-serif";
    min-height: 100vh;
}

header{
    display: flex;
    flex-direction: column;
}

.publicidad{
    text-align: center;
    
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.menu li>a{
    color: #777777;
    padding-right: 1rem;
}

.menu ul{
    display: flex;
    list-style-type: none;
    margin: 0%;
}

.menu a:hover{
    text-decoration: none;
    color: #434343;
}

.logo{
    font-size: 2rem;
}

.alert{
    text-align: center;
    background-color: #B20B4F;
}
