@section Styles{
    <link rel="stylesheet" href="~/css/cursos.css">
    <link rel="stylesheet" href="~/css/lightslider.css">
}
	<div class="container">
		
		<ul id="autoWidth" class="cs-hidden">
		
            <li class="item-a">
                <div class="card middle">
                    <div class="front">
                        <img src="~/img/Profesor1.jpg" class="card-img-top" alt="...">   
                    </div>
                    <div class="back">
                        <div class="back-content middle">
                        <h2>DarkCode</h2>
                        <span>Youtube Channel</span>
                        <div class="sm">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="item-a">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/Profesor1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </li>

            <li class="item-a">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/Profesor1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </li>

            <li class="item-a">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/Profesor1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </li>
		</ul>
	</div>
	
	
@section Scripts{
    <script src="~/js/lightslider.js"></script>
    <script src="~/js/script.js"></script>
}