
@section Styles{
    <link rel="stylesheet" href="~/css/cursos.css">
    <link rel="stylesheet" href="~/css/lightslider.css">
}

    
    
        
    
            <div id="notas">
                <div class="seccion-titulo">Base de Datos</div>
                <div class="container">
                    <div class="row">
                        <div id="database"></div>
                    </div>
                </div>
                <div id="web"> </div>
                <div id="videogames"></div>
                <div id="mobile"></div>
            </div>
    <a href="#" id="ConsultarCursos">CONSULTAR CURSOS</a>

    

    
            <!--<div class="card" style="width: 20rem;">
                <img src="~/img/img1.jpg" class="card-img-top" alt="...">
                <div class="contenido">
                    <p class="cardTitulo">Programación Web FullStack Desde 0 a Experto</p>
                    <p class="cardDescripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, perspiciatis? Pariatur vero ipsum</p>
                    <div class="row">
                        <p class="cardPrecio col-md-6">$20.99</p>
                        <div class="cardEstrellas col-md-6">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
                <a href="" class="cardComprar">COMPRAR</a>
            </div>-->        
	
	
@section Scripts{
    <script src="~/js/lightslider.js"></script>
    <script src="~/js/script.js"></script>
}