@section Styles{
     <link rel="stylesheet" href="~/css/FAQs.css">
}

<section>
    <p class="banner">Preguntas más frecuentes</p>
</section>

<div class="container">
    <div class="accordion">
        <div class="accordion-item">
            <div class="item-header">
            <h1 class="title">¿Para quién están dirigidos los cursos?</h1>
            <div class="icon">+</div>
            </div>
            <p class="text">
                Los cursos que dictamos están dirigidos a cualquier persona que quiera interiorisarse en cualquier aspecto de la programación.
            </p>
        </div>

        <div class="accordion-item">
            <div class="item-header">
            <h1 class="title">¿Hace falta tener conocimientos previos?</h1>
            <div class="icon">+</div>
            </div>
            <p class="text">
            Para nada, los cursos están hechos de manera tal que alguien sin experiencia o con mucha experiencia, pueda hacerlos. No hacemos ningún tipo de discriminación en ese aspecto.
            </p>
        </div>

        <div class="accordion-item">
            <div class="item-header">
            <h1 class="title">¿Tienen buenos docentes?</h1>
            <div class="icon">+</div>
            </div>
            <p class="text">
            Sí, cada curso está pre-grabado y los docentes están disponibles para resolver las dudas que cualquiera tenga.
            </p>
        </div>

        <div class="accordion-item">
            <div class="item-header">
            <h1 class="title">¿Se toma algún examen durante los cursos?</h1>
            <div class="icon">+</div>
            </div>
            <p class="text">
            Sí, cada cierta cantidad de vídeos que vas a ir viendo vas a tener un pequeño cuestionario donde tenés que aprobar para poder seguir avanzando, de esa manera podemos ver si realmente estás entendiendo y aprendiendo.
            </p>
        </div>

        <div class="accordion-item">
            <div class="item-header">
            <h1 class="title">¿Se me otorga algún título cuando termino? ¿Sirve para ir a buscar trabajo?</h1>
            <div class="icon">+</div>
            </div>
            <p class="text">
            Sí, nuestros cursos están certificados y avalados por el Ministerio de Educación de la Nación mediante la Ley 13.245.
            </p>
        </div>

        <div class="accordion-item">
            <div class="item-header">
            <h1 class="title">¿Cuánto tiempo demandan los cursos</h1>
            <div class="icon">+</div>
            </div>
            <p class="text">
            No podemos decirlo con exactitud, cada curso tiene su tiempo total y varía mucho dependiendo cuál hagas. Pero de media piden un tiempo de 2 horas diarias.
            </p>
        </div>
        
    </div>
</div>