@section Styles{
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
  <link rel="stylesheet" href="~/css/all.css">
  
}

<section class="info">
    <div>
        <p class="parrafoCursos">
            Accedé a los mejores cursos del mercado en nuestra plataforma.<br>¿Querés obtener mayor información? 
            <br>
            <a href="/curso/cursos" class="btnSaberMas btn-danger">SABER MÁS</a>
         </p>
    </div>
</section>

<p class="mainTextGoal"><b>¡Alcanzá tus metas de la mano de Digital Scilicet!</b></p>

<div class="container">
            <div class="row">
              <div class="col-md-3 cardCursos">
                <img src="https://img.icons8.com/bubbles/100/000000/hand-with-pen.png"/>
                <p class="goal"><strong>Incrementá tus habilidades.</strong></p><br>
                <p>Aprendé las últimas tecnologías más demandadas del mercado: Python, Java, C# y más.</p>
              </div>

              <div class="col-md-3 cardCursos">
                <img src="https://img.icons8.com/bubbles/100/000000/training.png"/>                
                <p class="goal"><strong>Te preparamos para todo.</strong></p><br>
                <p>Vas a aprender de la mano de excelentes profesionales del sector.</p>
              </div>

              <div class="col-md-3 cardCursos">
                <img src="https://img.icons8.com/bubbles/100/000000/contract.png"/>
                <p class="goal"><strong>Conseguí tu propio certificado.</strong></p><br>
                <p>Una vez finalizadas las materias, y cumpliendo los requisitos, del curso vas a recibir un certificado avalado por el Ministerio de Educación.</p>
              </div>

              <div class="col-md-3 cardCursos">
                <img src="https://img.icons8.com/bubbles/100/000000/group.png"/>
                <p class="goal"><strong>Mejorá tu trabajo en equipo.</strong></p><br>
                <p>En Digital Scilicet vamos a incentivar tu trabajo en equipo, preparándote para el día de mañana cuando trabajes.</p>
              </div>
            </div>
          </div>
 </div>

 <div class="modalidad">
     <p class="distancia">Nueva modalidad 100% a distancia</p>
    <p class="linea">Entendemos el contexto actual que está viviendo el mundo <br> por eso nos adaptamos y nuestros cursos son <br> de manera totalmente remota para que los puedas ver en cualquier <br> momento del día con profesores las 24hs.</p>
</div>



<div class="container">
  <p class="cursosCategoria"><strong>CATEGORÍA DE CURSOS</strong></p>
  <p class="cursosTxt"><b>Buscá la mejor opción para vos</b></p>
  <div class="row">

    <div class="col-lg-3 col-md-6 col-sm-12">
      <a href="/curso/cursos"><img src="~/img/BaseDeDatos.png" alt="" class="imgCategorias"></a>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <a href="/curso/cursos"><img src="~/img/GamesDev.png" alt="" class="imgCategorias"></a>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <a href="/curso/cursos"><img src="~/img/MobileDev.png" alt="" class="imgCategorias"></a>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <a href="/curso/cursos"><img src="~/img/WebDev.png" alt="" class="imgCategorias"></a>
    </div>
  </div>

  <p class="lorem"><b>Aprendé de la mano de los mejores</b></p>
  <p class="lorem1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis ad dolor error ut eligendi pariatur ipsam, inventore blanditiis. Delectus mollitia corrupti ut sequi, a ea pariatur veniam similique aliquid quo.</p>
</div>

  <div class="container">
    <div class="row">

        <div class="profile-card col-lg-4 col-md-12 col-sm-12">
          <div class="card-header">
            <div class="pic">
              <img src="~/img/Profesor1.jpg" alt="">
            </div>
            <div class="name">Juan Fernández</div>
            <div class="desc">CEO & FOUNDER</div>
            <div class="sm">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-github"></a>
              <a href="#" class="fab fa-youtube"></a>
            </div>
          </div>
        </div>

        <div class="profile-card col-lg-4 col-md-12 col-sm-12">
          <div class="card-header">
            <div class="pic">
              <img src="~/img/Profesor2.jpg" alt="">
            </div>
            <div class="name">Milena Rodríguez</div>
            <div class="desc">UX/UI Designer</div>
            <div class="sm">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-github"></a>
              <a href="#" class="fab fa-youtube"></a>
            </div>
          </div>
        </div>

        <div class="profile-card col-lg-4 col-md-12 col-sm-12">
          <div class="card-header">
            <div class="pic">
              <img src="~/img/Profesor3.jpg" alt="">
            </div>
            <div class="name">Agustín Disalvo</div>
            <div class="desc">Developer & Designer</div>
            <div class="sm">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-github"></a>
              <a href="#" class="fab fa-youtube"></a>
            </div>
          </div>
        </div>




    </div>
 </div>

 <p class="textoEmpresas"><b>Todo esto es posible gracias a estas <br> empresas que nos apoyan</b></p>

<div class="container">
  <div class="row">

    <div class="col-md-3 col-sm6">
        <div class="panelEmpresas">
          <img src="~/img/accenture.png" alt="">
        </div>
    </div>

    <div class="col-md-3 col-sm6">
        <div class="panelEmpresas">
          <img src="~/img/amazon.png" alt="">
        </div>
    </div>

    <div class="col-md-3 col-sm6">
        <div class="panelEmpresas">
          <img src="~/img/cisco.png" alt="">
        </div>
    </div>

   <div class="col-md-3 col-sm6">
        <div class="panelEmpresas">
          <img src="~/img/Google.png" alt="">
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    
      <div class="col-md-3 col-sm6">
        <div class="panelEmpresas">
          <img src="~/img/presidencia-de-la-nacion.png" alt="">
        </div>
      </div>

      <div class="col-md-3 col-sm6">
        <div class="panelEmpresas">
          <img src="~/img/oracle.png" alt="">
        </div>
      </div>

      <div class="col-md-3 col-sm6">
        <div class="panelEmpresas">
          <img src="~/img/accenture.png" alt="">
        </div>
      </div>
    

      <div class="col-md-3 col-sm6">
        <div class="panelEmpresas">
          <img src="~/img/j.p.morgan.png" alt="">
        </div>
      </div>
      
    
  </div>
</div>

