@section Styles{
    <link rel="stylesheet" href="~/css/register.css"/>
    
}

@{
    bool errorCredenciales = (ViewBag.errorCredenciales != null);
}

        <p class="sign" align="center">Iniciar sesión</p>
        <div class="main">
            

            <form action="@Url.Action("LogearUsuario", "Home")" method="POST" class="form1">
                <div class="form-group">
                    <input type="email" class="un " name="mail" placeholder="Correo electrónico" align="center" required/>
                </div>
                <div class="form-group">
                    <input type="password" class="pass" name="password" placeholder="Password"/>
                </div>
                @if(errorCredenciales)
                {
                    <p class="error-credenciales">El usuario y/o contraseña que ingresaste son incorrectos.</p>
                }
                <button type="submit" class="submit" align="center">Login</button>
            </form>
        </div>