@model List<Curso>
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/miscursos.css"/>
}
    
<div class="container">
    <div class="row">

        @foreach (Curso cursos in Model)
        {
            <div class="col-md-4 col-sm-6 col-12">
                <div class="card text-center">
                    <img src="~/img/imgDatos.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@cursos.Titulo</h5>
                        <a href="/home/VerCurso/@cursos.ID">EMPEZAR CURSO</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
  