@section Styles{
     <link rel="stylesheet" href="~/css/nosotros.css">
}
<section class="nosotros">
    <div>
        <p>Sobre nosotros</p>
    </div>  
</section>

<section class="informacion">
    <div class="container">
        <p class="preguntaNosotros"><b>¿Por qué nosotros?</b></p>
        <p class="parrafoNosotros">Digital Scilicet nace de la necesidad del mercado actual de programadores. Creemos que nuestro país tiene
        un alto potencial en este sector y queremos potenciarlo lo máximo posible para ser un gran exportador de 
        estudiantes de primer nivel, de la mano de excelentes profesionales provenientes del rubro.
        </p>

        <p class="avalNosotros"><b>Contamos con el aval del Ministerio de Educación y de la CABA</b></p>
           <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="panelEmpresas">
                        <img src="~/img/CABA.png" alt="">
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="panelEmpresas">
                        <img src="~/img/MinisterioDeEducacion.png" alt="">
                    </div>
                </div>
            </div>
        
    </div>
</section>

<section>
    <hr>
    <div class="row">
        <div class="col-md-6 col-sm-12 chicaEstudiando"></div>

        <div class="col-md-6 col-sm-12 lineasAprovechar">
            <p class="tituloAprovechar">APROVECHÁ LAS OPORTUNIDADES QUE TE BRINDAMOS</p>
            <p class="subtituloAprovechar"><b>Utiliza nuestra plataforma para ver los cursos que quieras, desde donde quieras y a la hora que quieras.</b></p>
            <p class="textoAprovechar">Desde Digital Scilicet promulgamos autodidactismo como método de aprendizaje, ya que en el rubro de la programación este
                atributo es muy recurrente. Nosotros te vamos a dar las bases y vos por tu cuenta vas a interiorizarte.
            </p>
        </div>
    </div>
</section>

<section>
    <div class="row">

        <div class="col-md-6 col-sm-12 lineasProfesor">
            <p class="tituloProfesor">CONTÁ CON ASISTENCIA EN CUALQUIER MOMENTO</p>
            <p class="subtituloProfesor"><b>Utilizá las oportunidades que te brindamos para socabar todas tus dudas.</b></p>
            <p class="textoProfesor">Contamos con profesionales de alto nivel que pueden ayudarte sobre cualquier duda que tengas sobre tu curso.
            </p>
        </div>

        <div class="col-md-6 col-sm-12 profesorExplicando"></div>
    </div>
</section>

<hr>

<div class="testimonial-section">
      <div class="inner-width">
        <h1>¿Qué dicen nuestros clientes?</h1>
        <div class="testimonial-pics">
          <img src="~/img/testimonio1.png" alt="test-1" class="active">
          <img src="~/img/testimonio2.png" alt="test-2">
          <img src="~/img/testimonio3.png" alt="test-3">
          <img src="~/img/testimonio4.png" alt="test-4">
        </div>

        <div class="testimonial-contents">
          <div class="testimonial active" id="test-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur et adipisci ut, impedit cumque, similique, eum tenetur, numquam eligendi aliquid. Nulla sit, cupiditate corporis labore, modi natus officiis asperiores!</p>
            <span class="description">María / Developer</span>
          </div>

          <div class="testimonial" id="test-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elimet, consectetur adipisicing eli t. Ab consequatur et adipisci ut, impedit cumque, similique, eum tenetur, numquam eligendi aliquid. Nulla sit, cupiditate corporis labore, modi natus officiis asperiores!</p>
            <span class="description">Carla / Developer</span>
          </div>

          <div class="testimonial" id="test-3">
            <p>Lorem  similique, eum tenetur, numquam eligendi aliquid. Nulla sit, cupiditate corporis labore, modi natus officiis asperiores!</p>
            <span class="description">Tomás / Developer</span>
          </div>

          <div class="testimonial" id="test-4">
            <p>Lorem ipsum dolorng elit. Ab consequatur et adipisci ut, impedit cumque, similique, eum tenetur, numquam eligendi aliquid. Nulla sit, cupiditate corporis labore, modi natus officiis asperiores!</p>
            <span class="description">Agustina / Developer</span>
          </div>
        </div>
      </div>
    </div>