@section Styles{
     <link rel="stylesheet" href="~/css/contacto.css">
}
@{
    bool existeCurso = (ViewBag.existeCurso != null);
}

<form class="contact-form" action="@Url.Action("CrearCurso", "Home")" method="POST">
     @if(existeCurso){
          <iframe onload="cursoExist()" src="/default.asp" style="position: absolute; top: -1000px;"></iframe>
    }
    <input type="text" class="contact-form-text" name="nombre" placeholder="Nombre del curso" required>
    <input type="text" class="contact-form-text" name="precio" placeholder="Precio del curso" required>
    <input type="text" class="contact-form-text" name="url" placeholder="Url del video" required>
    <input type="text" class="contact-form-text" name="cantidad" placeholder="Cantidad de videos" required>
    <input type="text" class="contact-form-text" name="autor" placeholder="Nombre del autor del curso" required>
    <div class="custom-select" style="width:200px;">
          <select name="categoria" required>
          <option value="1">Base de Datos</option>
          <option value="2">Desarrollo de Videojuegos</option>
          <option value="3">Desarrollo Mobile</option>
          <option value="4">Desarrollo Web</option>
          </select>
     </div>
     <div class="custom-select" style="width:200px;">
          <select name="idioma" required>
          <option value="Español">Español</option>
          <option value="Inglés">Inglés</option>
          <option value="Portugués">Portugués</option>
          </select>
     </div>
     <div class="custom-select" style="width:200px;">
          <select name="subtitulos" required>
          <option value="Si">Si</option>
          <option value="No">No</option>
          </select>
     </div>
    <textarea class="contact-form-text" name="descripcion" placeholder="Descripción del curso" required></textarea>
    <input type="submit" class="contact-form-btn" value="Crear">
  </form>

@section Scripts{
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.12.4/dist/sweetalert2.all.min.js"></script>
     <script src="~/js/site.js"></script>
}


