<form action="@Url.Action("AddNewUser", "Home")" method="POST">
  <div class="form-group">

    <label for="email">Email</label>
    <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password">
  </div>

   <div class="form-group">
    <label for="repeatPassword">Repetir Password</label>
    <input type="password" class="form-control" name="repeatPassword">
  </div>

  <div class="form-group">
    <label for="firstName">Nombre</label>
    <input type="text" class="form-control" name="firstName">
  </div>

  <div class="form-group">
    <label for="lastName">Apellido</label>
    <input type="text" class="form-control" name="lastName">
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>