.card{
	background: #fff;
	border-width: 0 1px 1px;
	border-style: solid;
	border-color: #ebebeb;
}

.contenido{
	padding: 15px;
}

.cardTitulo{
	color: #03a9f4;
}

.cardDescripcion{
	color: #999;
}

.cardPrecio{
	font-size: 2rem;
	margin-bottom: 0;
}

.cardEstrellas{
	color: #f5c22a;
	margin: auto 0;
}

.cardComprar{
	background-color: #03a9f4;
	width: 50%;
	margin: 0 35%;
	padding: .5rem;
	margin-bottom: 1rem;
	border-radius: 25px;
	color: white;
	text-align: center;
}

.card a{
	text-decoration: none;
}

.card a:hover{
	color: #e4e3e3;
}

.cardComprar:hover{
	background-color: #0194d8;
}

.seccion-titulo{
	text-align: center;
	font-weight: 500;
	font-size: 2rem;
}

.seccion-titulo::after{
	position: absolute;
	content: '';
	height: 3px;
	width: 70px;
	margin-left: 20px;
	background-color: #03a9f4;
	top: 10.4%;
}

.seccion-titulo::before{
	position: absolute;
	content: '';
	height: 3px;
	width: 70px;
	margin-left: -90px;
	background-color: #03a9f4;
	top: 10.4%;
}
