.seccion-titulo{
	margin-left: 10%;
	font-weight: 500;
	font-size: 1.5rem;
	margin-top: 2rem;
	
}



.card-body{
    padding: 15px;
}

.card{
    box-shadow: rgba(31, 31, 31, 0.12) 0px 1px 6px, rgba(31, 31, 31, 0.12) 0px 1px 4px;
    width: 21rem;
}

.card-header{
    text-align: center;
    background-color: #2a73cc;
    padding: 3px;
    color: white;
    font-size: 1.2rem;
}

.card-content{
    padding: 5px;
}

.btn{
    width: 100%;
}

.card-text{
    color: rgb(117, 117, 117);
}
.card-title{
  width: 19.165rem;
}

.footer-precio{
  color:  #0fbcf9;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.card a{
  text-decoration: none;
  outline: none;
}

.carrito-btn, .info-btn{
  color: #0fbcf9;
  text-align: center;
  padding: 8px;
  border-radius: 15px;
  position: absolute;
  bottom: 10px;
  transition: .2s linear;
}

.fa-shopping-cart{
  margin-right: 5px;
}

.carrito-btn{
  margin: 0 4px;
  left: 0;

}

.info-btn{
  margin: 0 4px;
  right: 0;
}

.carrito-btn:hover, .info-btn:hover{
  background-color: #0fbcf9;
  color: white;
}

.btn-footer{
  display: flex;
  justify-content: space-between;
}

.slider {
	width: 80%;
	margin: 0 auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 21rem;
  height: 12rem;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

.slick-prev:before, .slick-next:before{
	color: #818181;
}
@media (max-width: 767px){

  .carrito-btn, .info-btn{
    position: relative;
  }
}
