.nosotros{
    background-image: url("../img/Clase.jpg");
    background-repeat: no-repeat;
    background-position: 58%;
    padding: 10rem;
    text-align: center;
    color: white;
    font-size: 3rem;
}

.preguntaNosotros{
    text-align: center;
    font-size: 2.3rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.parrafoNosotros{
    text-align: center;
    font-size: 1.2rem;
}

.panelEmpresas{
    background: white;
    padding: 1.5rem;
    text-align: center;
    border: 2px solid #e4e4e4;
  }

  .avalNosotros{
      text-align: center;
      padding-top: 3rem;
      font-size: 2rem;
  }

  .estudiando-content{
    display: flex;
    align-items: center;
    padding: 1rem;
  }

  .chicaEstudiando{
      background: url("../img/ChicaEstudiando.jpg");
      background-size: cover;
      height: 400px;
      width: 166%;
      margin-right: 2rem;
  }



  .tituloAprovechar{
   text-align: left;
   font-size: 1.2rem;
   
  }

  .subtituloAprovechar{
      text-align: left;

      font-size: 2rem;
      line-height: 35px;
  }

  .textoAprovechar{
      text-align: left;

      font-size: 1.2rem;
  }

  .profesor{
    display: flex;
    padding: 1rem;
    align-items: center;
  }


  .profesorExplicando{
    background: url("../img/ProfesorExplicando.jpg");
    background-size: cover;
    height: 400px;
    width: 86%;
    background-repeat: no-repeat;
    margin-left: 1rem;
  }

  .tituloProfesor{
    text-align: right;
    font-size: 1.2rem;
  }

  .subtituloProfesor{
    text-align: right;

    font-size: 2rem;
    line-height: 35px;
  }

  .textoProfesor{
    text-align: right;
    font-size: 1.2rem;

  }

  .testimonial-section{
    text-align: center;
  }
  
  .inner-width{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }
  
  .testimonial-section h1{
    font-weight: 400;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 20px;
  }
  
  .testimonial-pics{
    padding: 40px 0;
  }
  
  .testimonial-pics img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 15px 20px;
    filter: grayscale(100%);
    transition: .3s;
    cursor: pointer;
  }
  
  .testimonial-pics img:hover, .testimonial-pics img.active{
    filter: none;
  }
  
  
  .testimonial-contents{
    max-width: 600px;
    margin: auto;
  }
  
  .testimonial{
    display: none;
  }
  
  .testimonial.active{
    display: block;
  }
  
  .testimonial p{
    color: #5c5c5c;
    margin-bottom: 20px;
  }
  
  .testimonial .description{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
  }
  
  @media (max-width: 1063px){
    .profesor, .estudiando-content{
      display: block;
      padding: 1rem;
    }

    .profesorExplicando{
      width: 100%;
      background-size: cover;
      height: 500px;
      margin-left: 0;
    }

    .tituloProfesor, .subtituloProfesor, .textoProfesor, 
    .subtituloAprovechar, .textoAprovechar{
      text-align: center;
    }

    .chicaEstudiando{
      width: 100%;
      height: 500px;
    }

    .tituloAprovechar{
      margin-top: 1.5rem;
      text-align: center;
    }
  }

  @media (max-width: 767px){
    .tituloProfesor, .subtituloProfesor, .textoProfesor{
      text-align: center;
      padding: 1rem;
    }

    .tituloAprovechar{
      margin-top: 1.5rem;
      text-align: center;
    }
  }