body{
  background-color: #e6e7e8;
  font-family: "Poppins", "sans-serif";
  margin: 0;
}

a.navbar-brand {
white-space: normal;
text-align: center;
word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
color: #0366d6;
}

.btn-primary {
color: #fff;
background-color: #1b6ec2;
border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
color: #fff;
background-color: #1b6ec2;
border-color: #1861ac;
}

.btnSaberMas{
padding: 1rem 4rem;
margin: 2rem auto;
font-size: 1rem;
}

.btnSaberMas:hover{
  text-decoration: none;
}

.parrafoCursos{
background-image: url("../img/header.jpg");
padding: 18rem 0;
font-size: 1.8rem;
color: #e6e6e6;
background-size: cover;
-webkit-box-shadow: -1px 13px 14px 0px rgba(0,0,0,0.37);
-moz-box-shadow: -1px 13px 14px 0px rgba(0,0,0,0.37);
box-shadow: -1px 13px 14px 0px rgba(0,0,0,0.37);
}

.info{
text-align: center;
}

.cardCursos{
text-align: center;
color: #777777;
}

.goal{
font-size: 1.5rem;
}

.mainTextGoal{
text-align: center;
color: #000000;
font-size: 2rem;
margin: 4rem;
} 

.mainTextGoal{
text-align: center;
color: #000000;
font-size: 2rem;
margin: 4rem;
} 

.modalidad{
background-image: url("../img/publicity1.jpg");
color: #e6e7e8;
text-align: center;
background-size: cover;
padding: 10rem 0;
display: block;
width: 100%;

}

.linea{
font-size: 1.2rem;
width: 100%;
}

.distancia{
margin-right: 1rem;
font-size: 48px;
}

.row{
margin-top: 1rem;
}

.cursosTxt{
font-size: 2rem;
margin-bottom: 3rem;
color: #000000;
}

.item{
text-align: center;
}

.btnCurso{
padding: .5rem 1rem;
}

.bg-red{
  background-color: #B20B4F;
}

.navbar-light .navbar-nav .nav-link{
  color: #e5e5e5;
}

.navbar-light .navbar-brand{
  color: #e5e5e5;
}

.centerDates{
  margin: auto 0;
}

.boxCategorias{
    background-color: #01ab73;
    width: 200px;
    height: 200px;
    margin: 1em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    text-align: center;
    
}

.cursosCategoria{
  color: #B20B4F;
  font-size: 1.2rem;
  margin-bottom: 0;
  margin-top: 4rem;
}

.container img{
  margin-bottom: 4rem;
}

.lorem{
  font-size: 2rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: .5rem;
}

.lorem1{
  font-size: 1rem;
  text-align: center;
  margin-top: .5rem;
}

.container img{
  margin-bottom: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.textName{
  color: black;
  margin-top: 1rem;
}

.profesion{
  font-size: 1.2rem;
  color: #dc3545;
}

.textoEmpresas{
  text-align: center;
  font-size: 2rem;
  margin: 4rem;
}

.fondo{
  background-color: #B20B4F;
  padding: 2rem;
  margin-top: 4rem;
  color: white;
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
}



.imgCategorias{
  margin-left: 40px;
  margin-bottom: 40px;
  padding: 1rem;
}

.row{
  text-align: center;
}

.panelEmpresas{
  background: white;
  padding: 1.5rem;
  text-align: center;
  border: 2px solid #e4e4e4;
}

.navbar-dark .navbar-nav .nav-link{
  color:rgba(255, 255, 255, 0.8);
}

.social-buttons a{
  display: inline-flex;
  text-decoration: none;
  font-size: 18px;
  width: 60px;
  height: 60px;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 8px;
}

.social-buttons a::before{
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg,#22a6b3,#30336b);
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;
}

.social-buttons a:hover::before{
  transform: scale(0);
}

.social-buttons a i{
  transition: 0.3s ease-in;
}

.social-buttons a:hover i{
  background: linear-gradient(45deg,#22a6b3,#30336b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(2.2);
}

.profile-card{
  width: 100%;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}

.card-header{
  background: #2c3a47;
  padding: 60px 40px;
  margin: 1rem 0;
}

.pic{
  display: inline-block;
  padding: 8px;
  background: linear-gradient(130deg, #74b9ff, #e66767);
  margin: auto;
  border-radius: 50%;
  background-size: 200% 200%;
  animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient{
  25%{
    background-position: left bottom;
  }
  50%{
    background-position: right bottom;
  }
  75%{
    background-position: right top;
  }
  100%{
    background-position: left top;
  }
}

.pic img{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name{
  color: #f2f2f2;
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
}

.desc{
  font-size: 18px;
  color: #e66767;
}

.sm{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.sm a{
  color: #f2f2f2;
  width: 56px;
  font-size: 22px;
  transition: .3s linear;
}

.sm a:hover{
  color: #e66767;
}