#video iframe{

  width: 100%;
  height: 526px;
}

#lista-videos{
  
}

.material-curso{
  display: flex;
}

.item{
  display: flex;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  transition-delay: 0.3s;
}

.item img{
  width: 150px;
  height: 100px;
}

.details{
  text-align: left;
  margin-left: 1rem;
}

.details h4{
  font-size: 1rem;
}

.details p{
  color:  #6e767f;
  font-size: .9rem;
}

.about-curso{
  padding: 0 100px;
}

.header-content{
  font-size: 1.3rem;
  font-weight: 600;
  text-align: left;
}

.margin-text{
  margin-left: 20%;
  text-align: left;
}


.titulos-display{
  display: flex;
}


@media (max-width: 767px){
  .material-curso{
    display: block;
  }
}