@model Curso
@section Styles{
    <link rel="stylesheet" href="~/css/infoCurso.css">
}

<div class="container">
            <div class="header-info">
                    <div class="header-main">
                        <h2>@Model.Titulo</h2>
                        <div class="autor">
                            <p>Ofrecido por</p>
                            <p class="autor-name">@Model.Autor</p>
                        </div>
                    </div>
                </div>
                
                <hr>
    <div class="row">
        <div class="col-md-8">
            <div class="acerca-de">
                <h2>Acerca de este curso</h2>
                <p>@Model.Descripcion</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="certificado">
                <div class="certificado-header">
                    <div class="circulo">
                        <img src="~/img/certificate-icon.png" alt="">
                    </div>
                    <div class="certificado-texto">
                        <p class="certificado-primario">Certificado para compartir</p>
                        <p class="certificado-secundario">Obtené un certificado la finalizar.</p>
                    </div>
                </div>
            </div>

                <div class="certificado">
                    <div class="certificado-header">
                        <div class="circulo">
                            <img src="~/img/online-icon.png" alt="">
                        </div>
                        <div class="certificado-texto">
                            <p class="certificado-primario">100% en línea</p>
                            <p class="certificado-secundario">Aprendé desde cualquier tipo de dispositivo.</p>
                        </div>
                    </div>
                </div>

                <div class="certificado">
                    <div class="certificado-header">
                        <div class="circulo">
                            <img src="~/img/calendar-icon.png" alt="">
                        </div>
                        <div class="certificado-texto">
                            <p class="certificado-primario">Sin límites de tiempo</p>
                            <p class="certificado-secundario">Comenzá y terminá el curso cuando vos quieras.</p>
                        </div>
                    </div>
                </div>

            <div class="certificado">
                <div class="certificado-header">
                    <div class="circulo">
                        <img src="~/img/lenguage-icon.png" alt="">
                    </div>
                    <div class="certificado-texto">
                        <p class="certificado-primario">Lenguaje</p>
                        <p class="certificado-secundario">Todos nuestros cursos están en español.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<hr>